<template name="access-control">
  <main class="main access-control">
    <section class="access-control-block access-control-black-list">
      <h3 class="access-control-title">black list</h3>

      <div class="access-control-data">
        {{#each accessControlBlackList}}
          <fieldset class="access-control-set">
            <input type="text" value="{{entry}}" placeholder="provide a user id or mac address" class="access-control-entry">
          </fieldset>
        {{/each}}

        <button data-into="black" class="access-control-add">&#61533;</button>
      </div>
    </section>

    <section class="access-control-block access-control-white-list">
      <h3>white list</h3>

      <div class="access-control-data">
        {{#each accessControlWhiteList}}
          <fieldset class="access-control-set">
            <input type="text" value="{{entry}}" placeholder="provide a user id or mac address" class="access-control-entry">
          </fieldset>
        {{/each}}

        <button data-into="white" class="access-control-add">&#61533;</button>
      </div>
    </section>

    <section class="access-control-block access-control-bussines-hour">
      <h3>business hours</h3>

      <div class="access-control-data">
        <div class="access-control-start">
          00:00
        </div>
        <div class="access-control-end">
          00:00
        </div>
      </div>
    </section>
  </main>
</template>
