<template name="access-control">
  <main class="main access-control">
    <h2 class="main-title">
      access control
    </h2>

    <section class="access-control-list">
      <h3 class="access-control-title">Black list</h3>

      <div class="access-control-content">
        <table class="access-control-data">
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="access-control-list">
      <h3 class="access-control-title">White list</h3>

      <div class="access-control-content">
        <table class="access-control-data">
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
</template>
