button, input {
  border: 0px none transparent;
  font-size: 0.875rem;
  margin: 0px;
  outline: none;
}

button {
  background-color: transparent;

  &, .octicon {
    cursor: pointer;
  }
}

button[disabled] {
  &, .octicon {
    cursor: default;
  }
}

fieldset {
  border: 0px none;
}

input {
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:focus {
    cursor: text;
  }

  @include placeholder {
    color: $color-background;
  }
}
