button, input {
  outline: none;
}

button, input {
  border: 0px none transparent;
  margin: 0px;
}

button {
  background-color: transparent;

  &, .octicon {
    cursor: pointer;
  }
}

button[disabled] {
  &, .octicon {
    cursor: default;
  }
}

fieldset {
  border: 0px none;
}

input {
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:focus {
    cursor: text;
  }
}
