@mixin icon {
  font-family: octicons;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: geometricPrecision;
  @include user-select(none);
}
