$layout-box: 48px;
$layout-margin: 20px;
$layout-space: 1px;

* {
  position: relative;
  @include box-sizing(border-box);
}

a {
  cursor: pointer;
}

body, button, fieldset, form, h1, h2, h3, p, pre, td, th, ul {
  margin: 0px;
  padding: 0px;
}

body, html {
  height: 100%;
}

body {
  background-color: $color-background;
  min-width: 800px;
  min-height: 400px;
}

h1, h2, h3, th {
  font-weight: normal;
}

h1, h2 {
  font-family: $font-serif;
  font-size: 2rem;
}

h3 {
  color: $color-background;
  font-size: 1rem;
}

html {
  color: $color-text;
  cursor: default;
  font-family: $font-sans-serif;
  font-size: 16px;
  line-height: 1;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

ul {
  list-style: none;
}

.float-left {
  float: left;
}

.hide {
  @include animation(fade 0.4s ease 0s 1 reverse backwards);
}

.main {
  position: absolute;
  top: $layout-box + $layout-margin + $layout-space;
  right: $layout-box + $layout-margin + $layout-space;
  bottom: $layout-margin;
  left: $layout-margin;
  background-color: $color-foreground;
  width: auto;
  height: auto;
}

.main-title {
  position: absolute;
  top: -24px;
  left: 180px;
  color: $color-white;
  overflow: hidden;
  height: 24px;

  &:after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: $color-gray;
    content: '';
    width: auto;
    height: 1px;
  }
}

.transparent {
  opacity: 0;
}

.show {
  @include animation(fade 0.4s ease 0s 1 normal forwards);
}
