$layout-aside: 48px;
$layout-margin: 20px;
$layout-space: 1px;

@include keyframes(color-in) {
  100% {
    background-color: $color-gray;
  }
}

* {
  position: relative;
  @include box-sizing(border-box);
  font-family: $sans-serif;
  font-size: 14px;
  color: $color-black;
}

a {
  cursor: pointer;
}

body, fieldset, form, h1, h2, h3, p, pre, td {
  margin: 0px;
  padding: 0px;
}

body, html {
  height: 100%;
}

body {
  @include animation(color-in 0.4s ease 0s 1 normal forwards);
  cursor: default;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-family: $serif;
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.hide {
  @include animation(fade 0.4s ease 0s 1 reverse backwards);
}

.icon text {
  font-family: octicons;
  text-anchor: middle;
  text-rendering: geometricPrecision;
}

.main {
  position: absolute;
  top: $layout-aside + $layout-margin + $layout-space;
  right: $layout-aside + $layout-margin + $layout-space;
  bottom: $layout-margin;
  left: $layout-margin;
  background-color: $color-white;
  box-shadow: 0px 1px 1px 0px $color-dim;

  &.log-in {
    background-color: rgba($color-dim, 0);
  }
}

.transparent {
  opacity: 0;
}

.show {
  @include animation(fade 0.4s ease 0s 1 normal forwards);
}
