$bussines-hour-size: $layout-margin + 74px;

.access-control-add {
  background-color: $color-foreground;
  color: $color-background;
  @include icon;
  font-size: 1rem;
  @include transition(background-color 0.1s, color 0.1s);
  width: 100%;
  height: $layout-box;

  &:hover {
    background-color: $color-green;
    color: $color-foreground;
  }
}

.access-control-bussines-hour {
  @include calc(top, '100% - ' + $bussines-hour-size);
  right: $layout-margin;
  bottom: $layout-margin;
  @include calc(left, '50% + ' + ($layout-margin / 2));
  width: auto;
  height: auto;

  .access-control-data {
    border: 0px none transparent;

    &:before {
      position: absolute;
      top: 50%;
      right: $layout-box / 2;
      left: $layout-box / 2;
      background-color: $color-foreground;
      content: '';
      display: block;
      width: auto;
      height: $layout-space;
    }
  }
}

.access-control-black-list {
  top: $layout-margin;
  @include calc(right, '50% + ' + ($layout-margin / 2));
  bottom: $layout-margin;
  left: $layout-margin;
  width: auto;
  height: auto;
}

.access-control-block {
  position: absolute;
}

.access-control-data {
  position: absolute;
  top: 24px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: $color-background;
  border: $layout-space solid $color-background;
  display: block;
  width: auto;
  height: auto;
}

.access-control-end, .access-control-start {
  position: absolute;
  top: 0px;
  background-color: $color-foreground;
  border: $layout-space solid $color-background;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  width: $layout-box * (1 * 2);
  height: $layout-box + (1 * 2);
}

.access-control-start {
  left: 10%;
}

.access-control-end {
  left: 90%;
  @include transform(translateX(-100%));
}

.access-control-white-list {
  top: $layout-margin;
  right: $layout-margin;
  bottom: $layout-margin + $bussines-hour-size;
  @include calc(left, '50% + ' + ($layout-margin / 2));
  width: auto;
  height: auto;
}
