.header {
  position: absolute;
  top: $layout-margin;
  right: $layout-margin;
  left: $layout-margin;
  width: auto;
  height: $layout-aside;

  &:after {
    position: absolute;
    right: 0px;
    bottom: -1px;
    left: 0px;
    background-color: $color-gray;
    content: '';
    width: auto;
    height: 1px;
  }
}

.header-title {
  position: absolute;
  bottom: -5px;
  left: 34px;
  color: $color-white;

  &:before {
    position: absolute;
    top: -5px;
    left: -36px;
    content: '\f08c';
    font-family: octicons;
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    width: 28px;
    height: 32px;
  }
}
