.header {
  position: absolute;
  top: $layout-margin;
  right: $layout-margin;
  left: $layout-margin;
  width: auto;
  height: $layout-box;

  &:before {
    position: absolute;
    bottom: -4px;
    left: -2px;
    color: $color-foreground;
    content: '\f08c';
    @include icon;
    font-size: 2rem;
  }
}

.header-subtitle {
  position: absolute;
  bottom: 0px;
  left: 196px;
  color: $color-foreground;
  overflow: hidden;
  height: 1.6rem;
}

.header-title {
  position: absolute;
  bottom: 0px;
  left: 34px;
  color: $color-foreground;
  overflow: hidden;
  height: 1.6rem;
}
