@include keyframes(color-in) {
  100% {
    background-color: $color-silver;
  }
}

* {
  position: relative;
  @include box-sizing(border-box);
  font-family: $sans-serif;
  font-size: 14px;
  color: $color-black;
  cursor: default;
}

a {
  cursor: pointer;
}

body, fieldset, form, h1, p {
  margin: 0px;
  padding: 0px;
}

body, html {
  height: 100%;
}

body {
  @include animation(color-in 0.4s ease 0s 1 normal forwards);
}

h1 {
  font-family: $serif;
  font-weight: normal;
  font-size: 2em;
}

.hide {
  @include animation(fade 0.4s ease 0s 1 reverse backwards);
}

.transparent {
  opacity: 0;
}

.show {
  @include animation(fade 0.4s ease 0s 1 normal forwards);
}
