.log-in {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: transparent;
}

.log-in-input {
  background-color: $color-background;
  border: $layout-space solid $color-foreground;
  border-radius: 3px;
  color: $color-foreground;
  font-size: 2rem;
  padding: 4px;
  width: 256px;
  height: 48px;
}

.log-in-fieldset {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  @include transform-origin(0px 0px);
  width: auto;
  height: auto;

  &:before {
    position: absolute;
    left: -38px;
    top: 0px;
    color: $color-foreground;
    content: '\f08c';
    display: block;
    font-size: 2rem;
    @include icon;
    line-height: 48px;
    height: 48px;
  }

  &.error {
    @include animation(shake 0.8s);
  }
}
