.menu {
  position: absolute;
  top: $layout-box + $layout-margin + $layout-space;
  right: $layout-margin;
  bottom: $layout-margin;
  background-color: $color-foreground;
  width: $layout-box;
  height: auto;
}

.menu-item, .menu-log-out {
  color: $color-background;
  display: block;
  font-size: 2rem;
  @include icon;
  width: $layout-box;
  height: $layout-box + $layout-space;
}

.menu-item {
  background-color: $color-foreground;
  border-bottom: $layout-space solid $color-background;
  line-height: $layout-box;
  text-align: center;
  text-decoration: none;

  &.active {
    left: -$layout-space;
    border-right: $layout-space solid $color-background;
    width: $layout-box + $layout-space;
  }
}

.menu-items {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: $layout-box + $layout-space;
  left: 0px;
  width: auto;
  height: auto;
}

.menu-log-out {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: $color-foreground;
  border-top: $layout-space solid $color-background;

  &:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 32px;
  }
}
